nvim/.config/nvim/autoload/*
nvim/.config/nvim/plugged/*

emacs/.emacs.d/*

*~

mpd/.config/mpd/log
mpd/.config/mpd/pid

mpv/.config/mpv/watch_later/*

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
