*~

cgdb/.cgdb/logs
cgdb/.cgdb/readline_history.txt

emacs/.config/emacs/*

firefox/.mozilla/firefox/*

mpd/.config/mpd/db
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/sticker.sql

mpv/.config/mpv/watch_later/*

ncmpcpp/.config/ncmpcpp/error.log

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

.histfile
.zcompdump
