*~

cgdb/.cgdb/logs
cgdb/.cgdb/readline_history.txt

emacs/.emacs.d/*

firefox/.mozilla/firefox/*

mpd/.config/mpd/db
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/sticker.sql

mpv/.config/mpv/watch_later/*

ncmpcpp/.ncmpcpp/error.log

nvim/.config/nvim/autoload/*
nvim/.config/nvim/plugged/*

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

.histfile
.zcompdump
