@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tab-line {
    display: none !important; /* don't display color line over tabs */
}

.tab-close-button {
    display: none !important;
}
/*
:root {
    --tab-min-height: 0 !important;
    --tab-max-height: 20px !important;
    --toolbarbutton-inner-padding: 5px !important;
}

#nav-bar {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}
*/
#urlbar {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    font-size: 12px !important;
}

#tabbrowser-tabs {
    min-height: 0 !important;
    max-height: 25px !important;
}

.tabbrowser-tab {
    font-size: 12px !important;
    padding: 0 !important;
}

.tab-icon-image {
    display: none !important;
    height: 12px !important;
    width: 12px !important;
}
/*
tab .tab-icon, .tab-icon-image {
  filter: grayscale(1) brightness(0.5) contrast(1); /* Remove invert(1) to make it dark */
}
*/