# vim:ft=conf

# could probably do it with (system.env) and conditionals,
# without spawning shells
method.insert = cfg.download, private|const|string,                             \
    (execute.capture, sh, -c,                                                   \
        "printf \"${XDG_DOWNLOAD_DIR:-$HOME/downloads}\"")
method.insert = cfg.session,  private|const|string,                             \
    (execute.capture, sh, -c,                                                   \
        "printf \"${XDG_STATE_HOME:-$HOME/.local/state}/rtorrent\"")

# create required direcotries
execute.throw = sh, -c,                                                         \
    (cat,"mkdir -p", " \"", (cfg.download), "\" \"", (cfg.session), "\"")

directory.default.set   = (cfg.download)
session.path.set        = (cfg.session)

# settings for public trackers
#   dth requires session to be set
# auto starts and stops dht as needed
dht.mode.set            = auto
dht.port.set            = 6881
# allow for peer exchange
protocol.pex.set        = yes
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
